
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Burgers</title>

  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <!-- Font Awesome Glyphicons -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

</head>

<body>

  <div class="container">

    <div class="jumbotron text-center">
      <img src="/images/burger.png" style="width:200px;">
      <hr>
        
        <h1>Eat-Da-Burger!</h1>
        <div class="row">
          <div class="col-lg-6 text-left" id="left"></div>
          <div class="col-lg-6 text-right" id="right"></div>
        </div>
        <form>
          <input type="text" id="burger" class="form-control text-center" placeholder='Enter a burger you want to eat and click the "Submit" button'>
          <br>
          <button id="submit" type="button" class="btn btn-primary form-control">Submit</button>
        </div>
      </form>
    </div>

    <footer class="footer">
      <div class="container">
        <a href="https://github.com/elshadagayev/homework_13_friendfinder">GitHub Repo</a></p>
      </div>
    </footer>

  </div>

  <script src="/js/view.js"></script>


</body>

</html>